canvas, .canvas-container {
    margin-bottom: 25px;
}

.canvas-container {
    margin-left: auto;
    margin-right: auto;
}

.ungu {
    background-color: #3F3192;
    color: #fff !important;
}
#btn {
    background-color: #3F3192;
    color: #fff !important;
}

.nav-tabmenu {
    background-color: #3F3192;
    color: #fff !important;
}

.card-header a{
    color: #fff !important;
}

.card-header a:active {
    color: rgb(0, 0, 0) !important;
}

.nav-icon {
    color: #ffffff;
}

.btn-del {
    background-color: #a5a4a9;
    color: #fff;
}

#card-header {
    background-color: #3F3192;
    color: #fff !important;
}
div.dataTables_wrapper {
    margin: 0 auto;
}

#modal-header-add {
    background-color: #ffcc00;
    color: rgb(0, 0, 0);
}

.modal-header {
    background-color: #3F3192;
    color: #fff ;
}

.close {
    color: #fff;
}

.thead {
    background-color: #3F3192; 
    color: white; 
    font-size: small;
    text-align: center;
    width: fit-content;
}

body {
    background-color: rgb(82, 86, 89);
}

canvas, .canvas-container {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.toolbar {
    width: 100%;
    background-color: #3F3192;
    height: 50px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
}

#pdf-container {
    margin-top: 10px;
    padding-left: 10px;
    text-align: center;
    overflow-y: scroll;
    max-height: 600px !important;
}

button:focus {
    outline: 0;
}

.toolbar .tool {
    display: inline-block;
    color: #fff;
    height: 100%;
    padding-top: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.toolbar .tool label,
.toolbar .tool select,
.toolbar .tool input {
    display: inline-block;
    width: auto;
    height: auto !important;
    padding: 0;

}

.toolbar .tool input {
    width: 50px;
}

.toolbar .tool .color-tool {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: inline-block;
}

.toolbar .tool .color-tool.active {
    -webkit-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 5px 0px rgba(255, 255, 255, 0.75);
}

.toolbar .tool:nth-last-child(1) {
    float: right;
}

.toolbar .tool .tool-button {
    background-color: #3F3192;
    border: 1px solid #3F3192;
    color: white;
    cursor: pointer;
}

.toolbar .tool .tool-button:hover,
.toolbar .tool .tool-button.active {
    background-color: rgb(82, 86, 89);
    border-color: rgb(82, 86, 89);
}

.modal-confirm {		
	color: #636363;
	width: 400px;
}
.modal-confirm .modal-content {
	padding: 20px;
	border-radius: 5px;
	border: none;
	text-align: center;
	font-size: 14px;
}
.modal-confirm .modal-header-success {
	border-bottom: none;   
	position: relative;
}
.modal-confirm h4 {
	text-align: center;
	font-size: 26px;
	margin: 30px 0 -10px;
}
.modal-confirm .close {
	position: absolute;
	top: -5px;
	right: -2px;
}
.modal-confirm .modal-body {
	color: #999;
}
.modal-confirm .modal-footer {
	border: none;
	text-align: center;		
	border-radius: 5px;
	font-size: 13px;
	padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
	color: #999;
}		
.modal-confirm .icon-box {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #07ef45;
}
.modal-confirm .icon-box i {
	color: #07ef45;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .icon-box-del {
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 50%;
	z-index: 9;
	text-align: center;
	border: 3px solid #ffcc00;
}
.modal-confirm .icon-box-del i {
	color: #ffcc00;
	font-size: 46px;
	display: inline-block;
	margin-top: 13px;
}
.modal-confirm .btn, .modal-confirm .btn:active {
	color: #fff;
	border-radius: 4px;
	background: #60c7c1;
	text-decoration: none;
	transition: all 0.4s;
	line-height: normal;
	min-width: 120px;
	border: none;
	min-height: 40px;
	border-radius: 3px;
	margin: 0 5px;
}
.modal-confirm .btn-secondary {
	background: #2f93e4;
}
.modal-confirm .btn-secondary:hover, .modal-confirm .btn-secondary:focus {
	background: #0e558f;
}
.modal-confirm .btn-danger {
	background: #07ef45;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
	background: #0a761c;
}
.trigger-btn {
	display: inline-block;
	margin: 100px auto;
}